@model TiendaDeDeportes.Models.ListaProductosViewModel

@{
    ViewBag.Title = "Lista";
}


@foreach (var p in Model.Productos)
{
    @Html.Partial("SumarioProductos", p)
}
<div class="btn-group pull-right">
    @Html.PaginasLinks(Model.PaginacionInfo, x => Url.Action("Lista", new { pagina = x, categoria = Model.CategoriaActual }))
</div>
